@using TradingApp.Utility;
@using static TradingApp.Utility.Constants;
@model IEnumerable<TradingApp.Models.Receipt>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocDate)
            </th>
            @*  <th>
            @Html.DisplayNameFor(model => model.BankName)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.AccountTitle)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                Payment Method
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @*  <th>
            @Html.DisplayNameFor(model => model.SubTotal)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            @*  <th>
            @Html.DisplayNameFor(model => model.UnreconciledAmount)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.PaymentReconciliationStatus)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.CraetedOn)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.EditedBy)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.EditedOn)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Stakeholder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocDate)
                </td>
                @* <td>
            @Html.DisplayFor(modelItem => item.BankName)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.AccountTitle)
            </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @(((PaymentMethod)item.PaymentMethod).GetDisplayName())
                <td>
                        @Html.DisplayFor(modelItem => item.Description)
                </td>
                    @*  <td>
            @Html.DisplayFor(modelItem => item.SubTotal)
            </td> *@
                <td>
                        @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                    @*  <td>
            @Html.DisplayFor(modelItem => item.UnreconciledAmount)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.PaymentReconciliationStatus)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.CraetedOn)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.EditedBy)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.EditedOn)
            </td> *@
                <td>
                        @Html.DisplayFor(modelItem => item.Stakeholder.Name)
                </td>
                <td>
                    <a asp-action="Create" asp-route-id="@item.Id">Edit ✐ </a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details 🖹</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete ❌</a>
                </td>
            </tr>
        }
    </tbody>
</table>
