@using TradingApp.ViewModels;
@model IEnumerable<CustomerDueInvoicesViewModel>
@{
    Layout = null;
}
<h6> <span class="badge badge-primary"></span>  </h6>
<h5>
    <span class="badge bg-primary">Customer Invoice Dues</span>

</h5>
<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.StakeholderId)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th class="text-center">Unpaid Invoices</th>
            <th class="text-end">Total Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invoice in Model)
        {
            <tr>
                <td>@invoice.StakeholderId</td>
                <td>@invoice.Name</td>

                <td class="text-center"> <a asp-controller="Invoices" asp-action="Customer" asp-route-id="@invoice.StakeholderId">@Html.DisplayFor(modelItem => invoice.UnpaidInvoice) 📃 </a>  </td>

            
                <td class="text-end">@Html.DisplayFor(modelItem => invoice.TotalAmount)</td>
            </tr>
        }
    </tbody>
</table>
