@model TradingApp.Models.Invoice

@{
    ViewData["Title"] = "Details";
}
<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
        <h2 class="text-center">@Model.Organization?.Name</h2>
        <h5 class="text-center">Invoice</h5>
    </div>
    <div class="col-sm-1">
        <img style="    max-width: 100px;" src="@Model.Organization?.LogoUrl" alt="Company Logo">

    </div>
</div>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        @* <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.CustomId)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.CustomId)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stakeholder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stakeholder.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DocDate)
        </dd>
        @* <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.BankName)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.BankName)
        </dd>
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.AccountTitle)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.AccountTitle)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
          <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.CreatedByNavigation.UserName)
        </dd>
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditedByNavigation.UserName)
        </dd>
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.EditedOn)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.EditedOn)
        </dd>
        @* <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Invoice)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Invoice.Id)
        </dd>
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.PurchaseOrder)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.PurchaseOrder.Id)
        </dd>
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Quote)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Quote.Id)
        </dd>
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Rfq)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Rfq.Id)
        </dd>
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.SalesOder)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.SalesOder.Id)
        </dd> *@

    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                Description
            </th>
           
            <th>
                UnitPrice
            </th>
            <th>
                Quantity
            </th>
            <th>
                Amount
            </th>




            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.InvoiceLines)
        {
            <tr>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>


            </tr>
        }
    </tbody>
</table>


<div class="mt-3">
    <div class="row">
        <div class="col text-end">
            <h4>
                <label asp-for="SubTotal" class="control-label"></label>
                @Html.DisplayFor(modelItem => modelItem.SubTotal)  @Html.DisplayFor(modelItem => modelItem.Currency)
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col text-end">
            <h4>
                <label asp-for="TotalAmount" class="control-label"></label>
                @Html.DisplayFor(modelItem => modelItem.TotalAmount) @Html.DisplayFor(modelItem => modelItem.Currency)
            </h4>
        </div>
    </div>
</div>


<div>
    <a asp-action="Create" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
