@using TradingApp.Utility;
@using static TradingApp.Utility.Constants;
@model TradingApp.Models.Tax

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}

<h3>Tax</h3>
<h5>Are you sure you want to delete this?</h5>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComputationType)
        </dt>
        <dd class="col-sm-10">
           
                @{
                var statusDisplayName = EnumExtensions.GetEnumDisplayName<ComputationType>(Model.ComputationType);
                }
                @Html.DisplayFor(modelItem => statusDisplayName)
           
            @* @Html.DisplayFor(model => model.ComputationType) *@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
    </dl>
    @using (Html.BeginForm("Delete", "Taxes", FormMethod.Post, new { id = "createForm" }))
    {

        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    }

</div>
<div id="resultContainer"></div>
<div>
    <a href="#" id="backtoListButton">Back to List</a>
</div>

<script>



    $(document).ready(function () {

        $('#backtoListButton').click(function (e) {
            e.preventDefault(); // Prevent the default anchor behavior

            $.get('/Taxes/index', function (data) {
                $('#SettingContent').html(data);
            });
        });

        $('#createForm').submit(function (e) {
            e.preventDefault(); // Prevent the default form submission

            $.ajax({
                type: "POST",
                url: $(this).attr('action'),
                data: $(this).serialize(), // Serialize the form data
                success: function (response) {
                    // Handle the response (e.g., show a success message, clear the form, etc.)
                    $('#resultContainer').html('<div class="alert alert-success">Record created successfully!</div>');
                },
                error: function (xhr, status, error) {
                    // Handle any errors
                    $('#resultContainer').html('<div class="alert alert-danger">Error: ' + error + '</div>');
                }
            });
        });
    });
</script>